@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index-body{
    width: 100vw;
    height: 100vh;
    background: #FFfffa url("Shield\ Block(1).svg");
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

.main{
    width: 90%;
    margin: 50px auto;
}

.top-heading{
    width: 40%;
    margin: 30px auto;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    font-family: 'Signika', sans-serif;
    align-items: center;
    letter-spacing: 0.02em;
    color: #0377BC;
}

.button-div{
    margin: 10px 0px;
    width: max-content;
    background: #FFDC00;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    text-align: center;
}

#createPasswordBtn{
    border: none;
    background: #FF9801;
    border-radius: 30px;
    padding: 15px;
    /* outline: none; */
    cursor: pointer;
    font-size: 18px;
    /* line-height: 24px; */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 5px;
}

/* #createPasswordBtn:hover{
    border: 2px solid #0066ff;
} */

#createPasswordBtn:focus{
    outline: none;
}

.tableIndex{
    margin: 40px auto;
    text-align: center;
    width: 100%;
}

.tableIndex thead{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}

.tableIndex td, .tableIndex th {
    border: 1px solid #FFfffa;
    padding: 5px;
}

.tableIndex td{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.tableIndex tr:hover {background-color: rgba(185, 229, 255, 0.5);}

.tableIndex th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #0377BC;
  color: white;
}

#passwordTable {
    font-size: 20px;
}

.addMain{
    width: 90%;
    margin: 50px auto;
}

.addHeading{
    width: 40%;
    margin: 30px auto;
    text-align: center;
    font-size: 26px;
    line-height: 38px;
    font-family: 'Signika', sans-serif;
    align-items: center;
    letter-spacing: 0.02em;
    color: #0377BC;
}

#passwordForm {
	margin:0 auto 0 auto;
	padding:30px;
	width:400px;
	height:auto;
	overflow:hidden;
	background:rgb(107, 193, 243);
	border-radius:10px;
}

#passwordForm label {
	font-size:20px;
	color:#FFfffa;
}

#passwordForm label,
#passwordForm input {
	float:left;
    clear:both;
}

#passwordForm input {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

#passwordForm input[type=text]:focus{
    border-color:cornflowerblue;
}

.btn-container{
    margin: 10px 0px;
    display: flex;
    background: #FFDC00;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    text-align: center;
    width: max-content;
}

#addPasswordButton{
    margin: 5px;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    color: white;
    background: #FF9801;
}

/* <a href="https://www.freepik.com/free-photos-vectors/web">Web vector created by stories - www.freepik.com</a>
<a href="https://www.freepik.com/free-photos-vectors/frame">Frame vector created by starline - www.freepik.com</a>
*/